@use "base/variables" as v;

/* Utilities */
.text-center {
  text-align: center;
}
.bg-primary {
  background-color: v.$primary;
}
.bg-white {
  background-color: v.$white;
}
.margin-negative-10 {
  margin-top: -10rem;
}
.padding-bottom-0 {
  padding-bottom: 0;
}
