// Fonts
$main-font: "Roboto", sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #5e311e;
$secondary: #c39c63;
$black: #000000;
$white: #ffffff;
$light-grey: #eceeef;
$light-coffee: #ebe7de;

// Units
$separation: 5rem;
