@use "base/variables" as v;

/* Icons */
.icons {
  margin-top: 5rem;

  .icons-list {
    li {
      img {
        margin: 0 auto;
        width: 12rem;
      }
      p {
        font-family: v.$italic-font;
        font-size: 3.2rem;
        color: v.$primary;
      }
    }
  }
}
