@use "base/variables" as v;
@use "base/mixins" as m;

/* Header */
.header {
  padding: 5rem 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  @include m.tablet {
    min-height: 70rem;
  }

  &::before {
    content: "";
    background-color: v.$black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }

  .header-content {
    position: relative;

    h1 {
      text-align: center;
      color: v.$white;
      text-transform: uppercase;
      margin-top: 5rem;

      @include m.tablet {
        margin-top: 10rem;
      }
    }
  }
}

/* Header of each page */
.home-header {
  background-image: url(../img/home_header.jpg);
}
.about-us-header {
  background-image: url(../img/about_us_header.jpg);
}
.process-header {
  background-image: url(../img/process_header.jpg);
}
